@media screen and (max-width: 1741px) {
   .header_i .logo {
      flex: 0;
      display: flex;
      justify-content: flex-start;
      font-size: 34px;
      cursor: pointer;
      color: #fff;
      position: relative;
      z-index: 10;
   }

   .header_i .search_wrap {
      padding-left: 4px;
      justify-content: flex-start;
      margin-right: 0;
   }
}

@media screen and (max-width: 1387px) {
   .music_box .music_item {
      width: calc(1870px / 10);
      padding: 8px;
   }
}

@media screen and (max-width: 1078px) {
   .header_i .search_wrap .search_box .search_input_box {
      max-width: 48px;
      background-color: transparent;
   }

   .header_i .search_wrap .search_box .search_input_box .search_input,
   .header_i .search_wrap .search_box .search_input_box .wall,
   .header_i .search_wrap .search_box .search_input_box .input_icon {
      opacity: 0;
      visibility: hidden;
   }
}

@media screen and (max-width: 990px) {
   footer {
      width: 100%;
      padding: 0 16px;
   }

   .footer_i .footer_top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 64px 0;
      padding-bottom: 42px;
      border-top: 1px solid #2b2b2b;
      border-bottom: 1px solid #2b2b2b;
   }

   .footer_i .footer_top .footer_menu .menu_category {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-right: 24px;
      margin-bottom: 32px;
   }
}

@media screen and (max-width: 928px) {
   .center_wrap {
      height: calc(100% - 160px);
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding: 0 8px;
      overflow: visible;
   }

   .advart {
      height: 107px;
   }

   .advart_i {
      padding: 8px 14px;
   }
}

@media screen and (max-width: 849px) {
   .header_i .service .wall {
      display: none;
   }

   .header_i .service .premium {
      display: none;
   }
}

@media screen and (max-width: 767px) {
   .footer_i .footer_top .footer_menu .menu_category {
      width: 100%;
   }

   .footer_i .footer_btm {
      min-width: 464px;
   }

   .footer_i .footer_btm p {
      font-size: 13px;
   }
}

@media screen and (max-width: 500px) {
   header {
      width: 100%;
      min-width: 100%;
      padding: 8px;
      color: #b3b3b3;
   }

   .header_i {
      padding-left: 8px;
      padding-right: 16px;
   }

   .header_i .logo .d_logo {
      display: none;
   }

   .header_i .logo .m_logo {
      display: block;
      width: 100px;
   }

   .header_i .logo .m_logo img {
      width: 90px;
   }

   .header_i .search_wrap {
      display: none;
   }

   .header_i .service {
      display: none;
   }

   .header_i .m_btn {
      display: flex;
      align-items: center;
      gap: 24px;
   }

   .header_i .m_btn button {
      padding: 4px 12px;
      border: none;
      border-radius: 16px;
      background-color: #fff;
      color: #000;
      font-weight: 700;
   }

   .header_i .m_btn svg {
      font-size: 20px;
      color: #fff;
   }

   .menu {
      display: none;
   }

   .center_wrap {
      height: calc(100% - 120px);
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding: 0px;
      overflow: visible;
   }

   main {
      min-width: 0px;
      border-radius: 0;
      overflow-x: hidden;
      background: none;
      background-color: #111111;
   }

   main .custom-scrollbar {
      width: 2px;
      position: absolute;
      right: 0;
      z-index: 100;
      pointer-events: none;
      opacity: 0;
      transition:
         opacity 0.4s ease,
         border-radius 0.3s ease,
         background-color 0.3s ease;
      border-top-right-radius: 8px;
      background-color: #b3b3b3;
   }

   .main_i {
      gap: 0;
   }

   .main_i .music_list {
      width: 100%;
      padding: 16px 0;
   }

   .main_i .music_list:last-child {
      padding-bottom: 12px;
   }

   .main_i .music_list:hover .music_scroll .scroll_btn {
      display: none;
   }

   .main_i .music_list .music_list_text {
      height: 25px;
      padding-left: 16px;
      margin-bottom: 8px;
   }

   .main_i .music_list:first-child .music_list_text {
      height: 40px;
   }

   .main_i .music_list .music_list_text h3 {
      font-size: 20px;
   }

   .main_i .music_list .music_list_text p {
      display: none;
   }

   .main_i .music_list .music_scroll .scroll_btn {
      display: none;
   }

   .main_i .music_list .music_scroll .music_box {
      max-width: 570px;
      padding-left: 4px;
   }

   .music_box .music_item {
      width: calc(1600px / 10);
      justify-content: flex-start;
      padding: 8px 0;
   }

   .music_box .music_item .music_img .music_repro {
      display: none;
   }

   .music_box .music_item .music_img img {
      width: 141px;
   }

   .music_box .music_item .artist_img img {
      border-radius: 8px;
   }

   .music_box .music_item .music_text {
      width: 141px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 4px;
   }

   .music_box .music_item .music_text p {
      height: 48px;
      font-size: 16px;
      white-space: wrap;
   }

   .music_box .music_item .music_text p:hover {
      text-decoration: none;
   }

   .music_box .music_item .music_text p:last-child {
      display: none;
   }

   .footer_i .footer_top {
      padding-top: 16px;
      border-top: none;
   }

   .footer_i .footer_top .footer_menu {
      padding-left: 32px;
   }

   .footer_i .footer_top .footer_menu .menu_category {
      font-size: 14px;
   }

   .footer_i .footer_top .footer_btn {
      gap: 20px;
   }

   .footer_i .footer_top .footer_btn button {
      width: 36px;
      height: 36px;
      font-size: 14px;
      background-color: transparent;
   }

   .footer_i .footer_btm {
      min-width: 0px;
      padding-top: 24px;
      padding-bottom: 88px;
      align-items: flex-start;
   }

   .footer_i .footer_btm p:last-child {
      font-size: 12px;
   }

   .footer_i .footer_btm p {
      font-size: 12px;
   }

   .footer_i .footer_btm p:last-child span {
      color: inherit;
   }

   .footer_i .footer_btm p:last-child span:hover {
      text-decoration: none;
      color: #fff;
   }

   .footer_i .footer_btm .footer_m_info{
      display: block;
   }

   .footer_i .footer_btm .footer_m_info ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
      column-gap: 16px;
      font-size: 12px;
      color: #b3b3b3;
   }

   .footer_i .footer_btm .m_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 4px 12px;
      cursor: pointer;
      font-size: 12px;
      border-radius: 16px;
      border: 1px solid #7c7c7c;
      background-color: transparent;
      color: #fff;
   }

   .advart {
      min-width: 100%;
      height: 80px;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.9);
   }

   .advart_i {
      display: none;
   }

   .m_player {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 42px;
   }

   .m_player .m_icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #b3b3b3;
   }

   .m_player .m_icon svg {
      font-size: 20px;
   }

   .m_player .m_icon p {
      font-size: 12px;
   }
}
